
<h1 id="tableLabel">Form</h1>

<p>This component demonstrates fetching data from the server.</p>


<form method="post">
  Submitting AUN:<br />
  <input type="number" name="Submitting AUN" value="" /><br />
  School Year Date:<br />
  <input type="date" name="SchoolYearDate" value="" /><br /><br />
  PA Secure ID:<br />
  <input type="number" name="PASecureID" value="" /><br /><br />
  Reporting Date:<br />
  <input type="date" name="ReportingDate" value="" /><br /><br />
  ACT16 Fund Category:<br />
  <input type="number" name="ACT16FundCategory" value="" /><br /><br />
  <input type="submit" value="Submit" class="submit" />
</form>

